.productDetail {
  display: flex;
  border-bottom: 2px solid lightgrey;
  margin-bottom: 50px;
  margin-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}
img {
  margin-right: 55px;
  margin-left: 25px;
}
.product-name {
  color: blue;
  font-weight: 400;
  font-size: 25px;
}
p {
  font-size: 22px;
}
.main-button {
  background-color: #f0c14b;
  color: #111111;
  width: 250px;
  height: 30px;
  padding: 1px 6px;
  font-weight: 400;
  border: 1px solid darkgray;
  border-radius: 5px;
  cursor: pointer;
}
